*{padding: 0;
margin: 0;
box-sizing: border-box;
font-family: "Saira";
}

body{
  
}

header .grid-layout nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 8vh;
  padding: 0px 8px;
}